Django==1.8.4
Flask==0.8
GnuPGInterface==0.3.2
Jinja2==2.6
MarkupSafe==0.15
MySQL-python==1.2.3
SQLAlchemy==0.7.4
Werkzeug==0.8.1
apt-xapian-index==0.44
argparse==1.2.1
bleach==1.4.1
chardet==2.0.1
command-not-found==0.2.44
distribute==0.6.24dev-r0
html5lib==1.0b7
language-selector==0.1
pyOpenSSL==0.12
python-apt==0.8.3ubuntu7
python-debian==0.1.21ubuntu1
six==1.9.0
ufw==0.31.1-1
wsgiref==0.1.2