{% load staticfiles %}
<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'block_party/css/signup_style.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
	<title>Block Party Signup</title>
</head>
<body>
  <div class="col-xs-12" style="height:50px;"></div>
  <div class= "container">
    <div class = "row">
        <div class = "col-md-12">
            <div class = "centered">
                <button type="button" id="individual_button" class="btn btn-primary btn-lg">Individual </button>
                <button type="button" id="business_button" class="btn btn-primary btn-lg">Business </button>
            </div>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row" id="individual_form">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form" action="{% url 'block_party_app:add_individual' %}" method="post">
                {% csrf_token %}
                <div class="centered">
                    <h2>Block Party Individual Signup</h2>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="first_name" required id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="last_name" required id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" name="email" required id="email" class="form-control input-lg" placeholder="Email" tabindex="3">
                </div>
                <div class="form-group">
                    <input type="text" name="street_address" required id="street_address" class="form-control input-lg" placeholder="Address (Street, Apt)" tabindex="4">
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="city_name" required id="city_name" class="form-control input-lg" placeholder="City" tabindex="5">
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <select name="state_name" id="state_name" class="form-control" tabindex="6">
                                <option value="AL">AL</option>
                                <option value="AK">AK</option>
                                <option value="AZ">AZ</option>
                                <option value="AR">AR</option>
                                <option value="CA">CA</option>
                                <option value="CO">CO</option>
                                <option value="CT">CT</option>
                                <option value="DE">DE</option>
                                <option value="DC">DC</option>
                                <option value="FL">FL</option>
                                <option value="GA">GA</option>
                                <option value="HI">HI</option>
                                <option value="ID">ID</option>
                                <option value="IL">IL</option>
                                <option value="IN">IN</option>
                                <option value="IA">IA</option>
                                <option value="KS">KS</option>
                                <option value="KY">KY</option>
                                <option value="LA">LA</option>
                                <option value="ME">ME</option>
                                <option value="MD">MD</option>
                                <option value="MA">MA</option>
                                <option value="MI">MI</option>
                                <option value="MN">MN</option>
                                <option value="MS">MS</option>
                                <option value="MO">MO</option>
                                <option value="MT">MT</option>
                                <option value="NE">NE</option>
                                <option value="NV">NV</option>
                                <option value="NH">NH</option>
                                <option value="NJ">NJ</option>
                                <option value="NM">NM</option>
                                <option value="NY">NY</option>
                                <option value="NC">NC</option>
                                <option value="ND">ND</option>
                                <option value="OH">OH</option>
                                <option value="OK">OK</option>
                                <option value="OR">OR</option>
                                <option value="PA">PA</option>
                                <option value="RI">RI</option>
                                <option value="SC">SC</option>
                                <option value="SD">SD</option>
                                <option value="TN">TN</option>
                                <option value="TX">TX</option>
                                <option value="UT">UT</option>
                                <option value="VT">VT</option>
                                <option value="VA">VA</option>
                                <option value="WA">WA</option>
                                <option value="WV">WV</option>
                                <option value="WI">WI</option>
                                <option value="WY">WY</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="zip_code" required id="zip_code" class="form-control input-lg" placeholder="Zipcode" tabindex="7">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="phone_num" required id="phone_num" class="form-control input-lg" placeholder="Phone Number" tabindex="8">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" name="password" required id="password" class="form-control input-lg" placeholder="Password" tabindex="9">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" name="password_confirmation" required id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="9">
                        </div>
                    </div>
                </div>

                <hr class="colorgraph">

                <div class="row">
                  <div class="centered" style="width:100%">
                    <h2>Availability</h2>
                  </div>
                  <table style="width:100%">
                    <tr>
                      <th style="font-size:110%">Sun (9/6)</th>
                      <th style="font-size:110%">Mon (9/7)</th>   
                      <th style="font-size:110%">Tues (9/8)</th>
                      <th style="font-size:110%">Wed (9/9)</th>
                      <th style="font-size:110%">Thurs (9/10)</th>
                      <th style="font-size:110%">Fri (9/11)</th>
                      <th style="font-size:110%">Sat (9/12)</th>
                    </tr>
                    <tr>
                      <td style="cursor: pointer;" onclick="adjustAvailability(this)" id="1M">Morning</td>
                      <td style="cursor: pointer;" onclick="adjustAvailability(this)" id="2M">Morning</td>    
                      <td style="cursor: pointer;">Morning</td>    
                      <td style="cursor: pointer;">Morning</td>    
                      <td style="cursor: pointer;">Morning</td>    
                      <td style="cursor: pointer;">Morning</td>    
                      <td style="cursor: pointer;">Morning</td>
                    </tr>
                    <tr>
                      <td style="cursor: pointer;">Afternoon</td>
                      <td style="cursor: pointer;">Afternoon</td>
                      <td style="cursor: pointer;">Afternoon</td>
                      <td style="cursor: pointer;">Afternoon</td>
                      <td style="cursor: pointer;">Afternoon</td>
                      <td style="cursor: pointer;">Afternoon</td>
                      <td style="cursor: pointer;">Afternoon</td>
                    </tr>
                    <tr>
                      <td style="cursor: pointer;">Evening</td>
                      <td style="cursor: pointer;">Evening</td>
                      <td style="cursor: pointer;">Evening</td>
                      <td style="cursor: pointer;">Evening</td>
                      <td style="cursor: pointer;">Evening</td>
                      <td style="cursor: pointer;">Evening</td>
                      <td style="cursor: pointer;">Evening</td>
                    </tr>
                  </table>
                </div>

                <div class="form-group">
                    <input type="availability" name="availability" required id="availability" class="form-control input-lg" placeholder="Availability" tabindex="3" value="0" style="display: none">
                </div>

                <hr class="colorgraph">
                
                <div class="row">
                    <div class = "centered">
                        <div class="col-xs-12 col-md-12">
                            <input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="10">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row" id="business_form" style="display: none">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form" action="{% url 'block_party_app:add_corporate' %}" method="post">
                {% csrf_token %}
                <div class = "centered">
                    <h2>Block Party Business Signup</h2>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            <input type="text" name="business_name" required id="business_name" class="form-control input-lg" placeholder="Company Name" tabindex="11">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="email" required id="email" class="form-control input-lg" placeholder="Email" tabindex="12">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="phone_num" required id="phone_num" class="form-control input-lg" placeholder="Phone Number" tabindex="13">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="contact_first" required id="contact_first" class="form-control input-lg" placeholder="Contact Person: First Name" tabindex="14">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="contact_last_name" required id="contact_last_name" class="form-control input-lg" placeholder="Last Name" tabindex="15">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" name="street_address" required id="street_address" class="form-control input-lg" placeholder="Address (Street, Apt)" tabindex="16">
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="city_name" required id="city_name" class="form-control input-lg" placeholder="City" tabindex="17">
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <select name="state_name" id="state_name" class="form-control" tabindex="18">
                                <option value="AL">AL</option>
                                <option value="AK">AK</option>
                                <option value="AZ">AZ</option>
                                <option value="AR">AR</option>
                                <option value="CA">CA</option>
                                <option value="CO">CO</option>
                                <option value="CT">CT</option>
                                <option value="DE">DE</option>
                                <option value="DC">DC</option>
                                <option value="FL">FL</option>
                                <option value="GA">GA</option>
                                <option value="HI">HI</option>
                                <option value="ID">ID</option>
                                <option value="IL">IL</option>
                                <option value="IN">IN</option>
                                <option value="IA">IA</option>
                                <option value="KS">KS</option>
                                <option value="KY">KY</option>
                                <option value="LA">LA</option>
                                <option value="ME">ME</option>
                                <option value="MD">MD</option>
                                <option value="MA">MA</option>
                                <option value="MI">MI</option>
                                <option value="MN">MN</option>
                                <option value="MS">MS</option>
                                <option value="MO">MO</option>
                                <option value="MT">MT</option>
                                <option value="NE">NE</option>
                                <option value="NV">NV</option>
                                <option value="NH">NH</option>
                                <option value="NJ">NJ</option>
                                <option value="NM">NM</option>
                                <option value="NY">NY</option>
                                <option value="NC">NC</option>
                                <option value="ND">ND</option>
                                <option value="OH">OH</option>
                                <option value="OK">OK</option>
                                <option value="OR">OR</option>
                                <option value="PA">PA</option>
                                <option value="RI">RI</option>
                                <option value="SC">SC</option>
                                <option value="SD">SD</option>
                                <option value="TN">TN</option>
                                <option value="TX">TX</option>
                                <option value="UT">UT</option>
                                <option value="VT">VT</option>
                                <option value="VA">VA</option>
                                <option value="WA">WA</option>
                                <option value="WV">WV</option>
                                <option value="WI">WI</option>
                                <option value="WY">WY</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" name="zip_code" required id="zip_code" class="form-control input-lg" placeholder="Zip Code" tabindex="19">
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" name="password" required id="password" class="form-control input-lg" placeholder="Password" tabindex="20">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" name="password_confirmation" required id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="20">
                        </div>
                    </div>
                </div>


                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <div class = "centered">
                            <input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="21">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>

  <script type="text/javascript">

   function switch_to_business() {
       var e = document.getElementById("business_form");
       var g = document.getElementById("individual_form");
       if(e.style.display == 'none')
          e.style.display = 'block';
          g.style.display = 'none';
   }

   function switch_to_individual() {
       var e = document.getElementById("business_form");
       var g = document.getElementById("individual_form");
       if(g.style.display == 'none')
          g.style.display = 'block';
          e.style.display = 'none';
   }

  </script>

  <script type="text/javascript">

    $('td').click(function() {
       $(this).css('backgroundColor', '#0FF');
    });

  </script>

  <script type="text/javascript">
    $('#business_button').click(function() {
        switch_to_business();
    });

    $('#individual_button').click(function() {
        switch_to_individual();
    });


    $('form').on('submit',function(){
        if($('#password').val()!=$('#password_confirmation').val()){
            alert('Password not matches');
            return false;
    }
        return true;
    });

  </script>

  <script type="text/javascript">

    function adjustAvailability(f) {
      var e = document.getElementById("availability");
      e.value = e.value + f.id;
    }

  </script>

</body>


</html>