{% load staticfiles %}
<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'block_party/css/signup_style.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<title>Block Party Signup</title>
</head>
<body>
  <div>Block Party Signup Page</div>
  <div class= "container">
    <div class = "row">
        <div class = "centered">
            <button type="button" class="btn btn-primary btn-lg">Individual</button>
            <button type="button" class="btn btn-primary btn-lg">Business</button>
        <div>
    <div>
  </div>

</body>
</html>